.Header {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(56, 55, 55);
    color: white;
    box-shadow: 3px 3px 5px 3px lightgrey;
    font-family: monospace;
    font-size: 20px;
}

.Header > nav > ul {
    display: flex;
    list-style: none;
}

.Header > nav > ul li {
    font-size: 25px;
    margin-right: 20px;
    
}
.Header a {
    text-decoration: none;
    color: rgb(124, 131, 65);
}