.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App main {
  flex-grow: 1;
  background-color: rgb(104, 104, 136);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  display: flex;
  background-color: rgb(233, 210, 108);
  width: 350px;
  height: 350px;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 2px 2px rgb(24, 23, 23);
  margin-left: 5%;
}
